<IfModule mod_headers.c>
Header set Cache-Control "private"
</IfModule>
Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteRule ^$ views/validacion/validacion.php [L]

RewriteRule ^inscripcion views/inscripcion/inscripcion.php [QSA,L]

RewriteRule ^confirmacion/([^/]+)$ views/confirmacion/confirmacion.php?id=$1 [QSA,L]
RewriteRule ^payu/confirmacion views/confirmacion/_confirmacion.php [QSA,L]


RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]